.page-title {
    text-align: center;
    color: white;
    background: rgb(109, 5, 5);
    font-family: cursive;
    min-height: 45px;
    font-size: xx-large;
    margin-top: 5px;
}

.page-subtitle {
    background: url(../../assets/button/cork-button.jpg);
    font-family: cursive;
    min-height: 30px;
}

.home-button {
    background: transparent;
}