.item, .item-list, .logon-item, .logon-item.item-native{
    width: 300px;
    background: bisque; 
    border-radius: 12px; 
    margin: 5px;
    border-color: rgba(0, 0, 0, 0);
}

.host {
    background: none;
}