.cork-button {
    background: url(/src/assets/button/cork-button.jpg);
    border-radius: 12px;
    border-color: black;
    width: 120px;
    height: 35px;
    font-size: 12pt;
    font-weight: 600;
    font-family: serif;
}